body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0F2747, #213B55);
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 60px;
}

/* BUTTON */
button {
  padding: 10px 20px;
  margin-top: 20px;
}

/* SECTION */
section {
  padding: 60px;
  text-align: center;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  margin: 10px;
}

/* ANIMATION */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}
